<div class="nav navbar">
  <a routerLink="/first-planets" routerLinkActive="active" #rla="routerLinkActive">
    <img id="mars" class="img-responsive" src="{{rla.isActive ? 'assets/images/marsNotActive.png' : 'assets/images/mars.png'}}">
  </a>

  <a routerLink="/second-planets" routerLinkActive="active" #rla="routerLinkActive">
    <img id="mercury" class="img-responsive" src="{{rla.isActive ? 'assets/images/mercury.png' : 'assets/images/mercuryNotActive.png'}}" width=500 height=500>
  </a>

  <img id="loading" class="img-responsive" src="assets/images/loading_small.png">
</div>

<div class='container'>
  <div class="jumbotron">
    <h1>Star Wars</h1>
    <h2>Planet List:</h2>
  </div>
</div>

<input type="text" class="form-control" placeholder=" Enter planet name" [(ngModel)]="query" id="listSearch">

<ng-container>
  <div class="wrapper">
    <ul class="exteriorUL" *ngFor="let planet of results$ | LockFilter: query; let i = index;">
      <li>
        <b (click)="hidden[i] = !hidden[i]" (click)="clickItem(); clickedItem = planet.name"
          [class.disabled]="isAnyItemClicked && clickedItem != planet.name" class="btn btn-success">{{planet.name}}</b>
      </li>
      <ul class="interiorUL" [hidden]="!hidden[i]" [class.appears]="hidden[i]==true">
        <li>
          <span>Rotation period:</span> {{planet.rotation_period}} h
        </li>
        <li>
          <span>Orbital period:</span> {{planet.orbital_period}} days
        </li>
        <li>
          <span>Climate:</span> {{planet.climate}}
        </li>
        <li>
          <span>Planet terrain:</span> {{planet.terrain}}
        </li>
        <li>
          <span>Population:</span> {{planet.population}}
        </li>
        <li>
          <span>Gravity:</span> {{planet.gravity}}
        </li>
        <li>
          <span>Diameter:</span> {{planet.diameter}} km
        </li>

        <!-- <hr> -->
      </ul>
    </ul>
  </div>
</ng-container>




